.imgProyects{
    position: relative;
    /* z-index: 20; */
    width: auto;
    border-radius: 0.375rem/* 6px */;
}

.imgProyects:hover {
    opacity: 0.6;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Oculta inicialmente el contenedor de botones */
}

.max-w-full:hover .button-container {
  display: flex; /* Muestra el contenedor de botones al hacer hover en el div principal */
  align-items: center;
}


.ver{
    font-size: xx-large;
    font-weight: 600;
    letter-spacing: 4;
}

.btnContainerLinks{
    display: flex;
    justify-content:flex-start;
}

.btnLinks{
    background-color: rgb(0, 109, 139);
    border-radius: 15px ;
    padding: 6px;
    margin-right: 5px;
    font-size: larger;
    height: auto;
    width: 100px;
    margin-bottom: 8px;
    align-items: center;
}
.btnLinks:hover{
    background-color: rgb(36, 161, 196);
}
