/* WELCOME */

/* TITLE*/
@keyframes colorChange {
    0% {
      color: #c9f64d;
    }
    25% {
      color: rgb(160, 250, 86);
    }
    50% {
      color: #56e470;
    }
    75% {
      color: #dcec3c;
    }
    100% {
      color: #daef3a;
    }
  }
  .color-changing-title {
    animation: colorChange 10s infinite alternate; /* Puedes ajustar la duración y otros parámetros según tus preferencias */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  }

  /* DESCRIPTION */
  .card {
    --bg-color: #212121;
    background-color: var(--bg-color);
    margin: 5px;
    padding: 2px;
    border-radius: 1.25rem;
    margin-top: 10px;
  }
  .loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    color: #56e470;
  }

  @media (max-width: 576px) {
    .loader {
      font-size: 20px; 
    }
    
    .dev{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .word {
      padding-left: 3px; 
      padding-right: 3px; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  

  /* BUTTONS */

  .bookmarkBtn {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid rgba(110, 103, 103, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-style: italic;
  }
  
  .IconContainer {
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, rgb(136, 255, 164),rgb(70, 255, 82));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 18px;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 150px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    margin-left: 0px;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }

  .black-icon{
    color: #212121;
    font-weight: bolder;
    font-size: x-large;
  }

  .BtmProyects {
    margin: 0;
    margin-top: 50px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-style: italic;
  }
  
  /* button styling */
  .BtmProyects {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .BtmProyects:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }